@(userList: List[User])

@main("Seznam uživatelů") {

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Uživ. jméno</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
                <th>Podpis</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
        @for(user <- userList) {
            <tr>
                <td>@user.getId()</td>
                <td>@user.getUsername()</td>
                @defining(user.getProfile()) { profile =>
                    <th>@profile.getFirstName()</th>
                    <th>@profile.getLastName()</th>
                    <th>@profile.getEmail()</th>
                    <th>@profile.getSignature()</th>
                }
            </tr>
        }
        </tbody>
    </table>

}