@(field: Field, _label: String = "CHANGEME", _placeholder: String = "", _help: String = "")

<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-2 control-label" for="@field.name">@_label</label>
    <div class="col-sm-10">
        <input type="text"
        class="form-control"
        id="@field.id"
        name="@field.name"
        value="@field.value.getOrElse("")"
        placeholder="@_placeholder" />
        <span class="help-block">@_help</span>
        <span class="help-block">@{
            field.error.map {
                error => error.message
            }
        }</span>
    </div>
</div>
