@(field: Field, _rows: String = "3", _label: String = "CHANGEME", _placeholder: String = "", _help: String = "", _focus: String = "")

<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-2 control-label" for="@field.name">@_label</label>
    <div class="col-sm-10">
        <textarea class="form-control"
        @if("true".equals(_focus)) {
            autofocus="true"
        }
        rows="@_rows"
        id="@field.id"
        name="@field.name"
        placeholder="@_placeholder"
        >@field.value.getOrElse("") </textarea>
        <span class="help-block">@_help</span>
        <span class="help-block">@{
            field.error.map {
                error => error.message
            }
        }</span>
    </div>
</div>
