@(userForm: Form[controllers.user.UserProfileCO])

@main("Upravit profil") {
    <div>
        <form method="post">
            <fieldset>
                <legend>@userForm("username").value profil</legend>

                @bootstrap3.text(userForm("email"), _label = "Email")

                @bootstrap3.text(userForm("firstName"), _label = "Jméno")

                @bootstrap3.text(userForm("lastName"), _label = "Příjmení")

                @bootstrap3.password(userForm("password"), _label = "Heslo")

                @bootstrap3.password(userForm("passwordAgain"), _label = "Potvrďte heslo")

                @bootstrap3.textarea(userForm("signature"), _label = "Podpis")

                <input type="submit" class="btn btn-primary" formaction="@controllers.user.routes.UserProfileController.update">

            </fieldset>
        </form>
    </div>
}
