@(user: User)

@main(user.getUsername) {
    <div>
        <form method="post">
            <fieldset>
                <legend>@user.getUsername</legend>
            </fieldset>
        </form>
    </div>
}
