@(userForm: Form[controllers.user.SignUpCO])

@main("Nový účet") {
    <div>
        <form method="post">
            <fieldset>
                <legend>Vytvoření účtu</legend>

                @bootstrap3.text(userForm("username"), _label = "Uživatelské jméno")

                @bootstrap3.text(userForm("email"), _label = "Email")

                @bootstrap3.password(userForm("password"), _label = "Heslo")

                @bootstrap3.password(userForm("passwordAgain"), _label = "Potvrďte heslo")

                <input type="submit" class="btn btn-primary" formaction="@controllers.user.routes.SignUpController.signUp">

            </fieldset>
        </form>
    </div>
}
