@(entryForm: Form[controllers.entry.EntryCO])

@import play.i18n._

<form role="form" method="post">
    <fieldset>
        <legend>@entryForm("id").valueOr(Messages.get("entry.new"))</legend>

        <input type="hidden" name="id" id="id" value="@entryForm("id").valueOr("")">

        @bootstrap3.textarea(entryForm("text"), _label = "Text", _rows = "10", _focus = "true")
        @defining(entryForm("topicId")) { uidField =>
            <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
        }
    </fieldset>

    @if(entryForm("id").value == null) {
        <input type="submit" class="btn btn-primary" formaction="@controllers.entry.routes.EntryController.save">
    } else {
        <input type="submit" class="btn btn-primary" formaction="@controllers.entry.routes.EntryController.update">
    }
</form>