@(topicForm: Form[controllers.topic.TopicCO], tagList: List[Tag])

@import play.i18n._
<div class="col-md-10">
    <form method="post">
        <fieldset>
            <legend>@topicForm("name").valueOr(Messages.get("topic.new"))</legend>

            <input type="hidden" name="id" id="id" value="@topicForm("id").valueOr("")">

            @bootstrap3.text(topicForm("name"), _label = "Název tématu")

            @bootstrap3.textarea(topicForm("description"), _label = "Popis tématu")

            <div class="form-group @if(topicForm("tagList").hasErrors) {has-error}">
                <label class="col-sm-2 control-label" for="tagList">Tagy</label>
                <div class="col-sm-10">
                    <select multiple data-role="tagsinput" name="tagList[]" id="tagList">
                    @if(topicForm.hasErrors) {
                        @for((k, v) <- topicForm.data) {
                            @if(k.contains("tagList")) {
                                <option value="@v" id='@k @Html(".name")'>@v</option>
                            }
                        }
                    } else {
                        @for((tag, i) <- topicForm.get.getTagList.zipWithIndex) {
                            <option value="@tag.getName" id="tagList[@i].name">@tag.getName</option>
                        }
                    }
                    </select>
                    <span class="help-block">@{
                        topicForm("tagList").error.map {
                            error => error.message
                        }
                    }</span>
                </div>
            </div>

            @if(topicForm("id").value == null) {
                <input type="submit" class="btn btn-primary" formaction="@controllers.topic.routes.TopicController.save">
            } else {
                <input type="submit" class="btn btn-primary" formaction="@controllers.topic.routes.TopicController.update">
                }
        </fieldset>
    </form>
</div>

<div class="col-md-2">
    <div class="panel panel-primary pull-right">
        <div class="panel-heading">Tagy</div>
        <div class="panel-body">
        @for(tag <- tagList) {
            <p>@tag.getName</p>
        }
        </div>
    </div>
</div>