@(topicForm: Form[controllers.topic.TopicCO], tagList: List[Tag])

@import security.SecurityUtils;
    @scripts = {
        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/tags").url)
    }
    @stylesheets = {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/bootstrap-tagsinput/bootstrap-tagsinput.css")">
    }
@main(topicForm.get.getName + " - Editovat", scripts, stylesheets) {
    <div class="row">
    @_topicForm(topicForm, tagList)
    </div>
    @if(SecurityUtils.hasRole(Role.ROLE_ADMIN, session)) {
        <div>
            <form method="post" onclick="return confirm('Jste si jistý?');">
                <input formaction="@controllers.topic.routes.TopicController.delete(topicForm.get.getId)"
                  type="submit" value="Smazat" class="btn btn-danger"/>
            </form>
        </div>
    }
}
