@(topicList: List[Topic], tagName: String)
@import play.i18n._

@main(tagName) {
    <h1>@Messages.get("topic.list")</h1>
    <ul>
    @for(topic <- topicList) {
        <li>
            <a href="/topics/@topic.getId()">@topic.getName()</a> (počet příspěvků: @topic.getEntriesSize())
        </li>
    }
    </ul>
}
