@(topic: Topic)

@main(topic.getName) {
    <h1>@topic.getName</h1>

    @if(security.SecurityUtils.canEditTopic(topic, session)) {
        <p>
            <a href="@controllers.topic.routes.TopicController.edit(topic.getId)">
                Editovat téma
            </a>
        </p>
    }

    <p>
    @for(tag <- topic.getTagList) {
        <a href="@controllers.topic.routes.TopicController.findByTag(tag.getName)" class="label label-primary">@tag.getName</a>
    }
    </p>
    <div class="well">
    @topic.getDescription
    </div>

    @for(entry <- topic.getEntryList) {
        <div class="panel panel-default">
            <div class="panel-heading">
                Autor: @entry.getAuthor.getUsername (dne @entry.getDateCreated)
                @if(security.SecurityUtils.canEditEntry(entry, session)) {
                    <div class="pull-right">

                        <form method="post" onsubmit="return confirm('Jste si jistý?');"
                            action="@controllers.entry.routes.EntryController.delete(entry.getId)">
                            <a class="btn btn-primary"
                                href="@controllers.entry.routes.EntryController.edit(entry.getId)">Editovat</a>
                            <input type="submit" class="btn btn-danger" value="&times;"/>
                        </form>
                    </div>
                }
            </div>
            <div class="panel-body">
            @entry.getText
            </div>
        </div>
    }

    <p>
    @if(security.SecurityUtils.isLoggedIn(session)) {
        <a href="@controllers.entry.routes.EntryController.create(topic.getId)">
        @play.i18n.Messages.get("topic.answer")
        </a>
    } else {
        Pokud chcete odpovědět, <a href="@controllers.entry.routes.EntryController.create(topic.getId)">
            přihlašte se.</a>
    }
    </p>
}
