@(topicList: List[Topic])
@import security.SecurityUtils;
@import play.i18n._

@main("Welcome to Play") {

    <h1>@Messages.get("forum.brand")</h1>

    <h2>@Messages.get("topic.list")</h2>

    @for(topic <- topicList) {
        <blockquote>
            <p>
                <a href="/topics/@topic.getId()">@topic.getName()</a> (počet příspěvků: @topic.getEntriesSize())
            </p>
            <small>Založil <cite title="Source Title">@topic.getAuthor.getUsername</cite></small>
        </blockquote>
    }

    @if(SecurityUtils.isLoggedIn(session)) {
        <p>
            <a href="@controllers.topic.routes.TopicController.create()" id="create-topic-link">Vytvořit nové téma</a>
        </p>
    }
}
