@(form: Form[Application.Login])
@main("Login") {
    <div class="col-md-6 col-md-offset-3">
    @helper.form(routes.Application.authenticate, 'role -> "form", 'class -> "form-horizontal") {

        @if(form.hasGlobalErrors) {
            <p class="error">
                Chyba:
                @form.globalError.message
            </p>
        }
        <h1>@play.i18n.Messages.get("login.label")</h1>
        @bootstrap3.text(form("username"), _label = play.i18n.Messages.get("login.username"), _placeholder = play.i18n.Messages.get("login.username"))
        @bootstrap3.password(form("password"), _label = play.i18n.Messages.get("login.password"), _placeholder = play.i18n.Messages.get("login.password"))

        <button type="submit" class="btn btn-default">Login</button>
    }
    </div>
}
